
  <div class="container mt-100">
     <div class="card-header btn btn-danger col-md-12 ">
       <h1 class="">New Contact</h1>
     </div>

    <div class="full-container" >
      <br>
      <%= render 'form', contact: @contact %>

      <%= link_to  contacts_path,method: :get, class: " btn btn-danger  ", style:"padding:6px;" do %>
      <i class="fa fa-arrow-left col-sm-2 " style="color:white;"></i>
      <%end%>
    </div>

</div>
